<link rel="stylesheet" href="/css/home.css">
<div class="topTab">
    <a href="/users/sign-in">Sign In</a>
    <a href="/users/sign-up">Sign Up</a>
</div>
<h1>
    Welcome to backend test 2 Solution!
</h1>
