<link rel="stylesheet" href="/css/home.css">
<div class="topTab"> 
    <a href="/users/signOut">Sign Out</a>
    <a href="/users/reset">Reset Password</a>
</div>

    <%if(User){%>
        
        
        <h1><%= User.email%></h1>
        
    <%}%>
