<link rel="stylesheet" href="/css/home.css">
<form class="form" action="/users/createUser" method="POST">
    <input type="email" name="email" placeholder="Email.." required>
    <input type="password" name="password" placeholder="Password.." required>
    <input type="password" name="confirmPwd" id="confirmPwd" placeholder="Confirm Password.." required>
    <button class="btn" type="submit">Sign Up</button>
    <button class="btn"><a href="/users/auth/google">Google Sign In/Up</a></button>
</form>

