<form action="/users/createUser" method="POST">
    <input type="email" name="email" placeholder="Email.." required>
    <input type="password" name="password" placeholder="Password.." required>
    <input type="password" name="confirmPwd" id="confirmPwd" placeholder="Confirm Password.." required>
    <button type="submit">Sign In</button>
</form>

<p>
    <a href="/users/auth/google">Google Sign Up</a>
</p>